@import url(<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>);

body{
    font-family:"lato";
    background-color: rgb(251, 249, 248);
}

a{
    text-decoration: none;
    color: #ffffff;
}
.container{
    margin: 20px auto;
    width: 800px;
    padding: 50px;
    padding-bottom: 10px;
    
    font-size: 18px;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15);
}

.navigation{    
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -50px;
    margin-left: -50px;
    margin-right:-50px;
    background-color: rgb(156, 173, 182);
    display: flex;
    justify-content: space-around;
    
}


header{
    padding: 50px;
    width: 1000px;
    height: 365px;
}

h1{
    font-size: 70px;
    text-align: right;
    position:relative;
    top: -300px;
    left: -270px;

}

footer{
    display: flex;
    justify-content: space-around;
}




